Django==3.2.14

pytest

psycopg2-binary

python-dotenv

pytest-django

DjangoHexadecimalField

Pillow

djangorestframework

djoser

djangorestframework-simplejwt

django-debug-toolbar

sorl-thumbnail

gunicorn

reportlab

django-filter

drf-base64

